ul {
    list-style-type: none;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
     box-shadow: 2px 10px 30px 5px black;
}

li a {
    display: block;
    color: #000;
    padding: 12px 0 10px 26px;
    text-decoration: none;

}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

body {
    background-color: #009688;
}

.mainFrame {
    margin-left: 500px;

}


