md-sidenav  {
    width: 15%;
    height:100%;
    background-color: #009688;
}
md-content {

    background-color : #ECEFF1;
}

.md-button a {
    color: #E0F2F1;
    text-decoration: none;

}

.md-button a:hover:not(.active) {
    color: #E0F2F1;
}

.md-button.md-cornered {
    border-radius: 0;
}

.md-button:not([disabled]):hover {
  background-color : #4DB6AC;
}

#sidenavTOP {
    padding-top: 120px;
}

.topNav {
    background-color: #009688;
}