<!--This page displays the pop up window fragment, which will be shown when a circle is
    The Pop Up Window consist of 2 Buttons, which allow the user to either put the carrier into the comparison sidebar
    or to drill further down.
-->


<md-dialog>
  <form>
    <md-dialog-content>
      <div class="md-dialog-content">
          <h1> This is Carrier:{{carrierNumber}} </h1>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <section layout="column">
             <label>Place into comparison sidebar</label>
             <md-button ng-click="addToComparison()"> <md-icon md-svg-src="assets/images/ic_add_circle_black_24px.svg"></md-icon> </md-button>
        </section>
        <span flex = "20"> </span>
        <section layout="column">
             <label>Drill down this carrier</label>
             <md-button ng-click="drillDown()"> <md-icon md-svg-src="assets/images/ic_zoom_in_black_24px.svg"></md-icon> </md-button>
        </section>
    </md-dialog-actions>
  </form>
</md-dialog>

